<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376681216479-1mhojq6jvuvlc617uvot2nr8db0p3s4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376681216479-1mhojq6jvuvlc617uvot2nr8db0p3s4p</string>
	<key>API_KEY</key>
	<string>AIzaSyDWqvcw26hMqm3VkOSRFrao1codhhHUons</string>
	<key>GCM_SENDER_ID</key>
	<string>376681216479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santhoshadigau.instaCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376681216479:ios:a966f38f8ebbc808aeec6a</string>
</dict>
</plist>